{% extends 'base_notloggedin.html' %}

{% block title %}ログアウト{% endblock %}

{% block footer_option %}
        style="position:absolute; bottom:0; width:100%;"
{% endblock %}

{% block content %}
        <div style="height: 50%;width: 100%;margin: 0 auto;max-height: 500px;max-width: 500px;">
            <h1>Logged Out</h1>
            <p>Thanks for spending some quality time with the Web site today.</p>
            <p><a href="{% url 'login' %}">Log in again</a></p>
        </div>
{% endblock %}